.textfield{
-fx-font-family:Tahoma;
    -fx-background-color: white , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
.textfield:focused{
    -fx-background-color: white , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;

}
.anchor{
-fx-background-color: linear-gradient( to top right ,#1a1143 ,#3952b4);
-fx-background-radius:0px 69px 65px 0px;
}
.btn{
-fx-background-color:transparent;
-fx-cursor: hand;
-fx-border-color: #fff;
-fx-text-fill :#fff;
-fx-border-width: .6px;
-fx-font-size: 14px;
-fx-font-family:Arial;
}
.btn:hover{
-fx-background-color:#fff;
-fx-text-fill :#000;
}
.anchorText{
-fx-background-color: linear-gradient( to top right ,#CCFFFF ,#FF0033);
}
.close-btn{
-fx-background-color: #1f3073;
-fx-cursor: hand;
-fx-background-radius:50px;
-fx-padding: 5px;
}
.close-btn:hover{
-fx-background-color:#5041a7;
}
.shadow{
-fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5) ,8,0,0,0);
}
.image-btn{
-fx-background-color: transparent;
-fx-border-color: transparent;
-fx-border-radius:20%;
-fx-border-width: .5px;
 }

 .head{
 -fx-background-color: linear-gradient( to top right ,#1c12a1 ,#3952b4);
 -fx-cursor: hand;
 -fx-background-radius:50px;
 -fx-padding: 5px;
 -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5) ,8,0,0,0);
 }
.item-btn{
-fx-linear-color:#fff;
-fx-background-color: #1f3073;
-fx-cursor: hand;
-fx-background-radius:50px ;
-fx-padding: 12px;
}
.item-btn:hover{
-fx-background-color:#6d80fa;
-fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5) ,8,0,0,0);
}

.nav-btn{
-fx-background-color:transparent;
-fx-cursor: hand;
-fx-text-fill :#fff;
-fx-font-size: 14px;
-fx-font-family:Bold Italic;
}
.nav-btn:hover{
-fx-border-color:none ;
-fx-font-size: 16px;
-fx-background-radius:50px ;
-fx-background-color:#1c0b6e;
-fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5) ,8,0,0,0);
}
.head-pane{
 -fx-background-color: linear-gradient( to top right ,#1c12a1 ,#4d77ec);
 -fx-cursor: hand;
 -fx-background-radius:50px;
 -fx-padding: 5px;
 -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5) ,8,0,0,0);
}
.my-icon{
-fx-fill: #fff;
-fx-stroke-width: 1px;
}
.my-icon:hover {
-fx-font-size: 2.3px;
}
.jtextFile{
-fx-background-color:rgba(0,0,0,0);
-fx-border-width:0 0 1 0;
-fx-border-color:#6b6b6b;
-fx-text-fill:#000000;
}
.nav-right{
 -fx-background-color: #fff;
 -fx-cursor: hand;
 -fx-background-radius:50px;
 -fx-padding: 5px;
 -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5) ,8,0,0,0);
}
.mess{
-fx-background-color: #fff;
-fx-background-radius:20px;
-fx-border-style: none;
-fx-padding: 10px;
-fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5) ,8,0,0,0);
}
.mess:hover{
 -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.8) ,8,0,0,0);
}
.profilebackground{
-fx-background-color: linear-gradient( to top right ,#1a1143 ,#3952b4);
-fx-background-radius:25px 65px 25px 65px;
}
.headprofile{
 -fx-background-color: #fff;
 -fx-background-radius:50px;
 -fx-padding: 5px;
 -fx-text-fill :#1a1143;
 -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5) ,8,0,0,0);
}
.text_profile{
-fx-background-color:rgba(0,0,0,0);
-fx-border-width:0 0 1 0;
-fx-border-color:#fff;
-fx-text-fill:white;
}
.search{
-fx-background-color:rgba(0,0,0,0);
-fx-border-width:0 0 1 0;
-fx-border-color:#6b6b6b;
-fx-text-fill:#000000;
}